.bespin {
    margin: 0;
    padding: 0;
    border: 0;
    height: 350px;
    border: 0px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#editors {
	position: absolute;
	left: 7px;
	top: 70px;
}
	
.ctn_editor {
	position: absolute;
	width:395px;
}

#tx_css .container{
	color:#ffffff !important;
}
