#main {
    width:330px;
    height:100px;
	margin:5px;
}

ol{
	margin:0px;
	-webkit-padding-start:0px;
}

.hidden{
	display:none;
}


/**
 * Layout position
 */
#ctn-profile{
	float:left;
	width:220px;
}
#profile{
	width:100%;
	height:30px;
}

.newprofile{
	width:30px;
	float:left;
}

/*
 * Infield Labels 
 */
form p { position:relative }
label  { position:absolute; top:0; left:0; margin-left:6px;margin-top:4px}