#main {
    width:400px;
    height:100px;
	margin:5px;
}
.full #main{
	width:1000px;
    height:600px;
}

ol{
	margin:0px;
	-webkit-padding-start:0px;
}

.hidden{
	display:none;
}


/**
 * Layout position
 */
#ctn-profile{
	float:left;
	width:220px;
	height: 20px;
}
#ctn-filter{
	float:left;
	width:320px;
}
#profile{
	width:100%;
	height:30px;
}

.newprofile{
	width:30px;
	float:left;
}

/*
 * Infield Labels 
 */
form p { position:relative }
label  { position:absolute; top:0; left:0; margin-left:6px;margin-top:4px}

/**
 * 
 */
.editor{
	padding-left:20px;
	width:400px;
	height:400px;
}
.full .editor{
	width:1000px;
    height:600px;
}
.bespin{
	margin: 0; 
	padding: 0;
	border: 0;
}
#code{
	height:420px;
	width:100%;
}
.ctn{
	position:absolute;
	top:55px;
}

#tabs_code{
	height:20px;
	float:right;
	width:75px;
}

#changed{
	color:#fff;
	display:inline;
}
